/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
  font-family:sans;
}


div#no_tracks_found {
margin-top: 5px;
padding-left: 40px;
}

a + h1 {
  font-size: 2.1em;
}

img#headerimg {
  float:left;
  margin-right:15px;
}

div.nexttoheader + * {
  clear:both;
}

img.tweeticon {
  float:left;
  width: 45px;
  height: 45px;
}

table#trackstable {
  width: 1000px;
}

div#requirediconbacklink {
  font-size: 0.7em;
  margin-top: 15px;
}
